<div class="container">
    <div class="row">
        {{#if filteredSkills}}
        {{#each filteredSkills as |skill|}}
        <div class="col-lg-4 col-md-6">
            <div class="card colorful-card bg-cards" data-id="{{id}}"
                style="background-color:{{background_color}}; cursor: pointer;">
                <div class="card-image" style="background-color:white">
                    <img src="{{image_url}}" alt="Image for {{title}}">
                </div>
                <div class="card-content">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{subtitle}}</p>
                    <p class="card-text">
                    <h6>Location: {{place}}</h6>
                    </p>
                    {{!-- <a href="/skills/{{id}}" class="btn btn-primary">See More Details</a> --}}

                    {{#if ../isAdmin}}
                    <div class="admin-btn">
                        <button class="btn btn-secondary editBtn" data-id="{{id}}">Edit</button>
                        <button class="btn btn-danger deleteBtn" data-id="{{id}}">Delete</button>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        {{#each skills as |skill|}}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card colorful-card"  style="background-color:{{background_color}}">
                <div class="card-image">
                    <img src="{{image_url}}" alt="Image for {{title}}">
                </div>
                <div class="card-content">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{subtitle}}</p>
                    <p class="card-text">
                    <h6>Location: {{place}}</h6>
                    </p>
                    {{!-- <a href="/skills/{{id}}" class="btn btn-primary">See More Details</a> --}}

                    {{#if ../isAdmin}}
                    <div class="admin-btn">
                        <button class="btn btn-secondary editBtn" data-id="{{id}}">Edit</button>
                        <button class="btn btn-danger deleteBtn" data-id="{{id}}">Delete</button>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            {{#if isAdmin}}
            <div>
                <a href="/skills/create" class="btn btn-primary">Create</a>
            </div>
            {{/if}}
        </div>
    </div>

</div>
<script src="/js/skill-homepage.js"></script>