{{#*inline "profile"}}
<div class="container">
  <h1 class="mt-4">{{user.name}}</h1>
  <p>Email: {{user.email}}</p>
  <p>Registration Date: {{ user.registration_date}}</p>

  <h2 class="mt-4">Enrolled Skills:</h2>
  <div class="row">
    {{#each user.skills}}
    <div class="col-md-6">
      <div class="panel panel-default skill-panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3">
              <img src="{{this.image_url}}" alt="{{this.title}}" class="skill-image">
            </div>
            <div class="col-sm-9">
              <h3>{{this.title}}</h3>
              <p>{{this.description}}</p>
              <p>Difficulty Rating: {{this.difficulty_rating}}</p>
              <p>Start Date: {{ this.start_date}}</p>
              <p>End Date: {{ this.end_date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/inline}}
{{>profile}}