<div>
  {{!-- title --}}
  <h1>
    {{#if id}}
      <a href="/project/{{id}}">{{name}}</a>
    {{else}}
      {{name}}
    {{/if}}

    </h1>
  {{!-- desc --}}
  <p>{{description}}</p>

  <p>Funding required: {{needed_funding}}</p>

  <p>Created by: {{ user }}</p>
</div>