<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidsHub</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="background-color: #ffffff">

    <header style="background-color: #ffffff">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/" class="header-title" id="header-title">KidsHub</a>
                </div>
                <div class="col">
                    <div class="text-right" style="tex">
                        {{#if logged_in}}
                        {{#if isAdmin}}
                        <a href="/" class="mr-3 username"><strong>Hi {{user.name}}</strong></a>
                        {{else}}
                        <a href="/profile" class="mr-3 username"><strong>Hi {{user.name}}</strong></a>
                        {{/if}}
                        <a href="/logout" class="mr-3 logOut"><strong>Log Out</strong></a>
                        {{else}}
                        <a href="/login" class="mr-3 logIn"><strong>Log In</strong></a>
                        <a href="/login" class="ml-3 signUp"><strong>Sign Up</strong></a>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </header>


    <main>
        {{{ body }}}
    </main>

    <footer style="background-color: #ffffff">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <a href="https://github.com/your-username">GitHub</a>
                </div>
            </div>
            <div class="row justify-content-center" style="text-style: black">
                <div class="col text-center">
                    Created by Brenden | Harianto | Paichien
                </div>
            </div>
        </div>
    </footer>



    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>