<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidsHub</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/" class="header-title" id="header-title">KidsHub</a>
                </div>
                <div class="col">
                    <div class="text-right">
                        {{#if logged_in}}
                        {{#if isAdmin}}
                        <a href="/" class="mr-3 username">{{user.name}}</a>
                        {{else}}
                        <a href="/profile" class="mr-3 username">{{user.name}}</a>
                        {{/if}}
                        <span>|</span>
                        <a href="/logout" class="mr-3 logOut">Log Out</a>
                        {{else}}
                        <a href="/login" class="mr-3 logIn">Log In</a>
                        <span>|</span>
                        <a href="/login" class="ml-3 signUp">Sign Up</a>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </header>


    <main>
        {{{ body }}}
    </main>

    <footer class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="https://github.com/your-username">GitHub</a>
                </div>
                <div class="col">
                    <div class="text-right">
                        Created by Brenden | Harianto | Paichien
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>